* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

    @media (max-width: 700px) {
        .container{
            width: auto;
            height: 100vh;
            background-color: black;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-content: center;
            background-image: url("iphone-v.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .container .calculadora{
            background-color: transparent;
            text-align: center;
            margin-bottom: 2rem;
            width: 95vw;
            padding-left: 1.5rem;
        }
        .calculadora p{
            color: white;
            font-weight: 400;
            font-size: 90px;
            margin-top: 10rem;
        }
        button{
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 27px;
            padding-right: 27px;
            border-radius: 50%;
            font-size: 25px;
            text-align: center;
            border-color: black;
            font-weight: 100;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        
        .naranja{
            background-color: rgb(197, 128, 0);
            border-color: black;
            color: white;
        }
        
        .gris{
            color: white;
            background-color: rgba(50, 51, 53, 0.658);
            border-color: black;
        }
        
        #resultado{
            text-align: center;
            font-size: 70px;
            width: 100vw;
            color: #fff;
        }
      }
      @media (min-width: 701px) {
        .container{
            width: 100vw;
            height: 100vh;
            background-color: black;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            background-image: url("iphone-h.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .container .calculadora{
            background-color: transparent;
            text-align: center;
            margin-bottom: 2rem;
            width: 95vw;
            padding-left: 1.5rem;
        }
        .calculadora p{
            color: white;
            font-weight: 400;
            font-size: 90px;
            margin-top: 10rem;
        }
        button{
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 27px;
            padding-right: 27px;
            border-radius: 50%;
            font-size: 25px;
            text-align: center;
            border-color: black;
            font-weight: 100;
        }
        
        .naranja{
            background-color: rgb(197, 128, 0);
            border-color: black;
            color: white;
        }
        
        .gris{
            color: white;
            background-color: rgba(50, 51, 53, 0.658);
            border-color: black;
        }
        
        #resultado{
            text-align: center;
            font-size: 100px;
            width: 100vw;
            color: #fff;
            padding-bottom: 3rem;
        }
      }
  